.layout-panel-north .panel-header {
    display: none;
}

.layout-panel-north .panel-body {
    background: url('../img/bg_header_2.jpg') no-repeat;
    overflow: hidden;
    position: relative;
}

.layout-panel-north .logo-pane {
    display: inline-block;
    width: 200px;
    /* height: 100%; */
}

.layout-panel-north .menu-pane {
    display: inline-block;
    /* height: 100%; */
    vertical-align: top;
}

.layout-panel-north .right-pane {
    position: absolute;
    right: 10px;
    bottom: 4px;

}

.layout-panel-north .right-pane div {
    display: inline;

}

.right-pane div a,
.right-pane div span {
    color: #fff;
}

.layout-panel-north ul {

}

.layout-panel-north ul li {
    float: left;
    padding: 12px 20px;
    color: aliceblue;
    margin-top: 6px;
}

.layout-panel-north ul a {
    cursor: pointer;
    font-size: 16px;
    /* line-height: 40px; */
}

.layout-panel-north ul li.active {
    color: #95b8e7;
}

.layout-panel-west .side-tree a {
    color: #666;
}